
.signup-button{
    width: 90%;                 
    display: block;
    margin: 20px auto 10px;     
    padding: 10px 0;
  
    background-color: #2a3d67;  
    color: #ffffff;
  
    border: none;
    border-radius: 12px;
  
    font-size: 15px;
    font-weight: 600;
   
    cursor: pointer;
}

.Name-group {
    display: flex;
    gap: 15px;          
    width: 90%;
    margin: 0 auto 10px;
}
  
.Name-group .input-group {
    width: 45%;         /* each takes half the row */
}



 
  